/* Global Styling */

*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    border: none;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #517df5;
    --gray-text-color: #777777;
    --black-text-color: #1D1D1F;
}

html{
    scroll-behavior: smooth;
}

section{
    display: flex;
    flex-direction: column;
    padding: 20px 17%;
}

@media (max-width:1600px) {
    section{
        padding: 20px 3%;
    }
}

a{
    text-decoration: none;
}


/* Navbar Design*/

.nav-logo-wrapper{
    padding-top: 4.5px;
}

.nav-section{
    padding-top: 15px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icon{
    display: none;
    width: 55px;
    height: 49px;
    justify-content: center;
    align-items: center;
    border: 1px solid hsla(0, 0%, 53.3%, 0.15);
}

.menu-icon i{
    font-size: 18px;
}

nav{
    display: flex;
    flex-direction: row;
}

.nav-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 2.25rem

}

.nav-options li{
    list-style: none; 
    padding: 0 16px;
    
}

.nav-options li a{
    text-decoration: none;
    color: var(--black-text-color);
    transition: 0.3s ease
}  

.nav-options li a:hover{
    color: var(--primary-color);
}


.nav-button{
    position: relative;
    background: var(--primary-color);
    color: white;
    padding: 12px 54px 12px 32px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.nav-button span{
    font-size: 17px;
    color: #fff;
    z-index: 1;
}

.nav-button:hover span{
    color: var(--black-text-color);
    transition: .3s ease;
}

.arrow-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    top: 2.5px;
    right: 2px;
    transition: 0.3s ease;
}
.nav-button:hover .arrow-btn{
    width: 97%;
}

.arrow-btn i{
    color: var(--black-text-color);
    font-size: 1.4rem;
    position: absolute;
    right: 8px;
}



/* Hero Section */

.hero-background{
    background: url(Images/hero\ background\ img.png)no-repeat center center/cover;
    width: 100%;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
}

.hero-text-wrapper{
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.hero-text{
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 28.8px;
}
.hero-title{
    font-size: 92.2px;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 96.8px;
}


.hero-text-wrapper p{
    color: white;
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
    
}

.hero-button-wrapper{
    display: flex;
    padding-top: 32px;
}

.hero-button{
    position: relative;
    background: black;
    color: white;
    padding: 12px 54px 12px 32px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.hero-button span{
    font-size: 17px;
    color: #fff;
    z-index: 1;
}

.hero-button:hover span{
    color: var(--black-text-color);
    transition: .3s ease;
}

.hero-arrow-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    top: 2.5px;
    right: 2px;
    transition: 0.3s ease;
}
.hero-button:hover .hero-arrow-btn{
    width: 97%;
}

.hero-arrow-btn i{
    color: var(--black-text-color);
    font-size: 1.4rem;
    position: absolute;
    right: 8px;
}

.hero-button-wrapper a:nth-child(2) .hero-button {
    background: transparent;
  }


/* Responsive Design */

@media (max-width:990px) {
    .navbar{
        display:none;
    }

    .menu-icon{
        display:flex;
    }

}

@media (max-width:768px) {
    .hero-text{
        font-size: 17px;
    
    }
    .hero-title{
        font-size: 48px;
        line-height: 56px;
        width: 341px;
    }
    .hero-text-wrapper p{
        font-size: 17px;
    }
    .hero-background{
        height: 500px;
    }

}

@media (max-width:550px) {
    .hero-button-wrapper{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .hero-button-wrapper a:nth-child(2) .hero-button{
        padding-left: 20.5px;
       
    }
    .hero-text{
        font-size: 12px;
        line-height: 19px;
    
    }
    .hero-title{
        font-size: 40px;
        line-height: 46px;
        width: 248px;
    }
    .hero-text-wrapper p{
        font-size: 12px;
        width: 260px;
    }
    .hero-background{
        height: 500px;
    }
}

/* Feature Section Part 1*/

.feature-container-1 {
    display: flex;
    flex-direction: row-reverse;
    gap: 16%;
    padding-bottom: 40px;
}

.feature-background {
    background: url(Images/Feature\ Img.png) no-repeat center center/cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
}

.feature-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15.1px;
    padding: 52.3px 0 60px;
}


.feature-point {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 20px;
    gap: 10px;
    
}

.feature-title{
    width: 486px;
    font-size: 76.8px;
    line-height: 1.1;
    font-weight: bold;
    color: var(--black-text-color);
}

.feature-text {
    font-size: 18px;
    line-height: 1.6;
    color: var(--gray-text-color);
}

.paragraph {
    font-size: 16px;
    /* line-height: 1.6; */
}

.true-sign {
    width: 2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.ture-1st-p {
    background: url(Images/true\ sign.png) no-repeat center center/cover;
}

.ture-2nd-p {
    background: url(Images/true\ sign.png) no-repeat center center/cover; 
}

.ture-3rd-p {
    background: url(Images/true\ sign.png) no-repeat center center/cover;
}


/* Feature Section Part 2*/

.feature-background-2{
    background: url(Images/Feature\ img\ 2.png) no-repeat center center/cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
}

.feature-container-2{
    display: flex;
    flex-direction: row;
    gap: 16%;
    padding-bottom: 40px;
}

/* Responsive Design */
@media (max-width:1770px) {
    .feature-container-1{
        display: flex;
        gap: 10%;
    }
}

@media (max-width: 1200px) {
    .feature-container-1 {
        display: flex;
        flex-direction: column-reverse; 

    }

    .feature-background {
        width: 100%;
        min-height: 580px; 
        background-size: cover; 
        background-position: center; 
    }

    .feature-text-wrapper{
        width: auto; 
        height: auto;
    }

    .paragraph{
        font-size: 13px;
    }
    
}



@media (max-width:768px) {
    
    .feature-text-wrapper{
        padding: 15px 0 35px;
    }

    .feature-title{
        font-size:48px;
        width: 280px;
    }

    .feature-text{
        font-size: 16px;
        line-height: 1.3;
    }

    .paragraph{
        font-size: 16px;
    }
    
}

@media (max-width:550px) {

    .feature-text-wrapper{
        padding: 5px 0 20px;
    }

    .feature-background {
        width: 100%;
        min-height: 380px; 
        background-size: cover; 
        background-position: center; 
    }
    .feature-title{
        font-size:42px;
    }

    .feature-text{
        font-size: 16px
    }

    .paragraph{
        font-size: 16px;
    }
}


/* Reponsive for Feature section 2 */

@media (max-width:1770px) {
    .feature-container-2{
        display: flex;
        gap: 10%;
    }
}


@media (max-width: 1200px) {
    .feature-container-2{
        display: flex;
        flex-direction: column-reverse; 

    }
    .feature-background-2 {
        width: 100%;
        min-height: 580px; 
        background-size: cover; 
        background-position: center; 
    }
}
@media (max-width:550px) {
    .feature-background-2 {
        width: 100%;
        min-height: 380px; 
        background-size: cover; 
        background-position: center; 
    }
}
