/* Global Styling */

*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    border: none;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #517df5;
    --gray-text-color: #777777;
    --black-text-color: #1D1D1F;
}

html{
    scroll-behavior: smooth;
}

section{
    display: flex;
    flex-direction: column;
    padding: 20px 17%;
}

@media (max-width:1600px) {
    section{
        padding: 20px 3%;
    }
}

a{
    text-decoration: none;
}


/* Navbar Design*/

.nav-logo-wrapper{
    padding-top: 4.5px;
}

.nav-section{
    padding-top: 15px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icon{
    display: none;
    width: 55px;
    height: 49px;
    justify-content: center;
    align-items: center;
    border: 1px solid hsla(0, 0%, 53.3%, 0.15);
}

.menu-icon i{
    font-size: 18px;
}

nav{
    display: flex;
    flex-direction: row;
}

.nav-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 2.25rem

}

.nav-options li{
    list-style: none; 
    padding: 0 16px;
    
}

.nav-options li a{
    text-decoration: none;
    color: var(--black-text-color);
    transition: 0.3s ease
}  

.nav-options li a:hover{
    color: var(--primary-color);
}


.nav-button{
    position: relative;
    background: var(--primary-color);
    color: white;
    padding: 12px 54px 12px 32px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.nav-button span{
    font-size: 17px;
    color: #fff;
    z-index: 1;
}

.nav-button:hover span{
    color: var(--black-text-color);
    transition: .3s ease;
}

.arrow-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    top: 2.5px;
    right: 2px;
    transition: 0.3s ease;
}
.nav-button:hover .arrow-btn{
    width: 97%;
}

.arrow-btn i{
    color: var(--black-text-color);
    font-size: 1.4rem;
    position: absolute;
    right: 8px;
}



/* Hero Section */

.hero-background{
    background: url(Images/hero-background.png)no-repeat center center/cover;
    width: 100%;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
}

.hero-text-wrapper{
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.hero-text{
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 28.8px;
}
.hero-title{
    font-size: 92.2px;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 96.8px;
}


.hero-text-wrapper p{
    color: white;
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
    
}

.hero-button-wrapper{
    display: flex;
    padding-top: 32px;
}

.hero-button{
    position: relative;
    background: black;
    color: white;
    padding: 12px 54px 12px 32px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.hero-button span{
    font-size: 17px;
    color: #fff;
    z-index: 1;
}

.hero-button:hover span{
    color: var(--black-text-color);
    transition: .3s ease;
}

.hero-arrow-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    top: 2.5px;
    right: 2px;
    transition: 0.3s ease;
}
.hero-button:hover .hero-arrow-btn{
    width: 97%;
}

.hero-arrow-btn i{
    color: var(--black-text-color);
    font-size: 1.4rem;
    position: absolute;
    right: 8px;
}

.hero-button-wrapper a:nth-child(2) .hero-button {
    background: transparent;
  }


/* Responsive Hero Section */

@media (max-width:990px) {
    .navbar{
        display:none;
    }

    .menu-icon{
        display:flex;
    }

}

@media (max-width:768px) {
    .hero-text{
        font-size: 17px;
    
    }
    .hero-title{
        font-size: 48px;
        line-height: 56px;
        width: 341px;
    }
    .hero-text-wrapper p{
        font-size: 17px;
    }
    .hero-background{
        height: 500px;
    }

}

@media (max-width:550px) {
    .hero-button-wrapper{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .hero-button-wrapper a:nth-child(2) .hero-button{
        padding-left: 20.5px;
       
    }
    .hero-text{
        font-size: 12px;
        line-height: 19px;
    
    }
    .hero-title{
        font-size: 40px;
        line-height: 46px;
        width: 248px;
    }
    .hero-text-wrapper p{
        font-size: 12px;
        width: 260px;
    }
    .hero-background{
        height: 500px;
    }
}

/* Feature Section Part 1*/

.feature-container-1 {
    display: flex;
    flex-direction: row-reverse;
    gap: 16%;
    padding-bottom: 40px;
}

.feature-background {
    background: url(Images/Feature-Img.png) no-repeat center center/cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
}

.feature-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15.1px;
    padding: 52.3px 0 60px;
}


.feature-point {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 20px;
    gap: 10px;
    
}

.feature-title{
    width: 486px;
    font-size: 76.8px;
    line-height: 1.1;
    font-weight: bold;
    color: var(--black-text-color);
}

.feature-text {
    font-size: 18px;
    line-height: 1.6;
    color: var(--gray-text-color);
}

.paragraph {
    font-size: 16px;
}

.true-sign {
    width: 2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.ture-1st-p {
    background: url(Images/true-sign.png) no-repeat center center/cover;
}

.ture-2nd-p {
    background: url(Images/true-sign.png) no-repeat center center/cover; 
}

.ture-3rd-p {
    background: url(Images/true-sign.png) no-repeat center center/cover;
}


/* Feature Section Part 2*/

.feature-background-2{
    background: url(Images/Feature-img-2.png) no-repeat center center/cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
}

.feature-container-2{
    display: flex;
    flex-direction: row;
    gap: 16%;
    padding-bottom: 40px;
}

/* Responsive Feature Section 1 */


@media (max-width:1770px) {
    .feature-container-1{
        display: flex;
        gap: 10%;
    }
}

@media (max-width: 1200px) {
    .feature-container-1 {
        display: flex;
        flex-direction: column-reverse; 

    }

    .feature-background {
        width: 100%;
        min-height: 580px; 
        background-size: cover; 
        background-position: center; 
    }

    .feature-text-wrapper{
        width: auto; 
        height: auto;
    }

    .paragraph{
        font-size: 13px;
    }
    
}



@media (max-width:768px) {
    
    .feature-text-wrapper{
        padding: 15px 0 35px;
    }

    .feature-title{
        font-size:48px;
        width: 280px;
    }

    .feature-text{
        font-size: 16px;
        line-height: 1.3;
    }

    .paragraph{
        font-size: 16px;
    }
    
}

@media (max-width:550px) {

    .feature-text-wrapper{
        padding: 5px 0 20px;
    }

    .feature-background {
        width: 100%;
        min-height: 380px; 
        background-size: cover; 
        background-position: center; 
    }
    .feature-title{
        font-size:42px;
    }

    .feature-text{
        font-size: 16px
    }

    .paragraph{
        font-size: 16px;
    }
}


/* Reponsive Feature Section 2 */

@media (max-width:1770px) {
    .feature-container-2{
        display: flex;
        gap: 10%;
    }
}


@media (max-width: 1200px) {
    .feature-container-2{
        display: flex;
        flex-direction: column-reverse; 

    }
    .feature-background-2 {
        width: 100%;
        min-height: 580px; 
        background-size: cover; 
        background-position: center; 
    }
}
@media (max-width:550px) {
    .feature-background-2 {
        width: 100%;
        min-height: 380px; 
        background-size: cover; 
        background-position: center; 
    }
}


/* Profile Section */

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--primary-color);
    border-radius: 26px;
    height: 462px;

}

.logo{
    width: 180px;
    height: 48px;
}

.logo-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

.logo-text{
    font-size: 20px;
    color: white;
    max-width: 512px;
    letter-spacing: .8px
}

.profile-image{
    width: 290px;
    height: 290px;
}

.profile-content div{
    display: flex;
    flex-direction: column;
    gap: 5px;
 
}

.profile-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.cto-name{
    color: white;
    font-size: 18px;
}

.cto-position{
    color: white;
    font-size: 14px;
    font-weight: lighter;
}

/* Responsive Profile Section */

@media (max-width:1200px) {

    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 538.73px;
        padding: 0 10px;
    }
    .profile-image{
        width: 180px;
        height: 190px;
    }
    .profile-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7rem;
    }
    .logo-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        gap: 24px;
    }
    .logo-text {
        font-size: 20px;
        color: white;
        max-width: 355px;
        letter-spacing: 0.8px;
        text-align: center;
    }

}

@media (max-width:440px) {

    .logo{
        width: 130px;
        height: 40px;
    } 

    .logo-text {
        font-size: 15px;
    }

}

/* Student Pricing Section */

.package{
   display: flex;
   flex-direction: column;
   text-align: center;
}

.package-title{
    font-size: 76.8px;
    color: var(--black-text-color);
    padding-bottom:  3.54375rem;
}

.package-text{
    font-size: 18px;
    color: var(--black-text-color);
    font-weight: bold;
}

.package-main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.student-pricing{
    width: 49%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: left;
    gap: 10px;
    padding: 80px 60px 60px 60px;
    border-radius: 26px;
    box-shadow: 0 6px 50px 0 rgba(14, 25, 54, 0.06);
    background-color: #fff;
}

.plan-wrapper{
    display: flex;
    flex-direction: row; 
    padding:0.1rem 0 0.9rem;
}


.student-type{
    font-size: 14px;
    font-weight: bold;
    color: var(--black-text-color);
    letter-spacing: 1px;
}

.student-plan-price{
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    color: var(--primary-color);
}

.student-month{
    font-size: 16px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column-reverse;
    padding-left:0.125rem;
    position: relative;
    bottom: 0.1875rem;
}
.student-package-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding-bottom: 8.1875rem;
}

.package-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 1rem;
}


.info-true-sign{
    width: 1.75rem;
    height: 1.75rem;
}
 
.student-plan-info{
    font-size: 15px;
    color: var(--gray-text-color);
}

.student-plan-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100px;
    border: solid 1px var(--primary-color);
    cursor: pointer;
    overflow: hidden;
    padding: 27px 0
}

.student-plan-btn-text{
    font-size: 12px;
    color: var(--primary-color);
    letter-spacing: 1px;
    z-index: 1;
    font-weight: bold;
    transition: ease .4s;
}

.student-plan-btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--primary-color);
    transition: ease .4s;
}

.student-plan-btn:hover::before{
    width: 100%;
    background: var(--primary-color);
}


.student-plan-btn:hover .student-plan-btn-text{
    color: #fff;
}

/* Premium Package Section*/

.premium-pricing{
    width: 49%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: left;
    gap: 10px;
    padding: 80px 60px 60px 60px;
    border-radius: 26px;
    box-shadow: 0 6px 50px 0 rgba(14, 25, 54, 0.06);
    background-color: var(--primary-color);
}

.premium-package-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding-bottom: 0.9375rem;
}

.premium-plan-price{
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    color: white;
}

.premium-month{
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    padding-left:0.125rem;
    position: relative;
    bottom: 0.1875rem;
}



.premium-type{
    font-size: 14px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

.premium-plan-info{
    font-size: 15px;
    color: white;
}

.premium-plan-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100px;
    border: solid 1px white;
    cursor: pointer;
    overflow: hidden;
    padding: 27px 0;
    background-color: var(--primary-color);
    transition: background-color ease 0.4s;
}

.premium-plan-btn-text {
    font-size: 12px;
    color: white;
    letter-spacing: 1px;
    z-index: 1;
    font-weight: bold;
    transition: color ease 0.4s;
}

.premium-plan-btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: white;
    transition: width ease 0.4s;
}

.premium-plan-btn:hover::before {
    width: 100%;
}

.premium-plan-btn:hover {
    background-color: var(--primary-color); 
}

.premium-plan-btn:hover .premium-plan-btn-text {
    color: var(--primary-color); 
}

/* Responsive Design For Package Section */

@media (max-width: 1200px) {
    .package-main-container {
        display: flex;
        flex-direction: column;
        gap: 1.5625rem; 
    }

    .premium-pricing, .student-pricing {
        width: 100%; 
    }
    .package-title{
        font-size: 48px;
    }
}

@media (max-width: 550px) {
    .package-title{
        font-size: 42px;
    }
    .student-pricing {
        padding: 60px 20px 40px 20px;
    }
    .premium-pricing {
        padding: 60px 20px 40px 20px;
    }
    .student-plan-btn{
        padding: 20px 0;
    }
    .premium-plan-btn{
        padding: 20px 0;
    }
}